@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --font-color: #f18e14;
    --bg-color: #2a2828;
    --bg-hover-color: #cbcb143a;
    --main-bg-color: rgba(92, 90, 90, 0.299);
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.logo {
    position: relative;
    position: relative;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#navbar {
    background-color: black;
    margin-top: -8px;
    padding-left: 0;
}
.nav-link {
    padding: 0 !important;
    margin: 0;
    color: white !important;
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    position: relative;
}

.nav-item {
    padding: 18px 14px 18px 14px;
}

.nav-item a.active {
    color: #ffbd39 !important;
}

.links {
    margin: 0 0 0 105px;
}

.navbar-nav a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: -5px;
    right: 10px;
    left: 0;
    background-color: #f18e14;
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
}

.navbar-nav a:hover::before {
    transform: scaleX(1);
}

.navbar-toggler,
.menu {
    font-size: 16px;
    vertical-align: middle;
}

.page1 {
    margin-top: 2px;
    width: 100%;
    height: 670px;
    background-color: black;
    display: flex;
}

.content1 {
    position: relative;
    top: 150px;
    height: 350px;
    width: 45%;
    padding: 5px;
}

.content1 .hello {
    color: orange;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.content1 h1 {
    margin: 10px 0 10px 0;
    color: #f1efea;
    font-size: 45px;
    font-weight: 700;
    font-family: 'Poppins', Arial, sans-serif;
}

.content1 .text1 {
    color: white;
    font-size: 28px;
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 600;
}

.content1 .text1 span {
    color: #ffbd39;
    font-size: 32px;
}

.content1 .bio {
    color: white;
    font-size: 15px;
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 400;
}


.buttons {
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 60px;
}

.page1-hire-btn {
    padding: 15px;
    border: 1px solid rgb(164, 159, 159);
    border-radius: 100px;
    background-color: #ffbd39;
    color: black;
    text-decoration: none;
    margin: 0px 20px 0px 0px;
}

.page1-hire-btn:hover {
    text-decoration: none;
    color: black;
}

.page1-work-btn {
    padding: 15px;
    border: 1px solid rgb(175, 171, 171);
    border-radius: 100px;
    background-color: black;
    color: white;
    text-decoration: none;
}

.page1-work-btn:hover {
    text-decoration: none;
    color: white;
}

.page1 .img1 {
    width: 55%;
    background-image: url("my-pic1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* page2 code start */

.page2 {
    width: 100%;
    height: 670px;
    background-color: black;
    display: flex;
    margin-top: 80px;
}

.page2 .img2 {
    width: 45%;
    background-image: url("my-pic1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: scaleX(-1);
}

.page2 .content2 {
    width: 55%;
    padding: 30px;
    position: relative;
}

.content2 .about-me {
    font-size: 50px;
    font-weight: 600;
    font-family: 'Poppins', Arial, sans-serif;
    color: white;

}

.content2 .big {
    left: 20px;
    top: 50px;
}

.big {
    font-size: 7vw;
    position: absolute;
    top: 35px;
    left: 280px;
    color: rgba(255, 255, 255, 0.2);
    font-weight: 900;
}
.content2 p {
    margin: 30px 0 30px 0;
    color: grey;
    font-size: 18px;
}

.about-info li {
    width: 100%;
    margin-top: 10px;
}

.about-info .keys {
    width: 25%;
    color: white;
    padding: 3px 30px 3px 0;
    font-weight: 600;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 14px;
}

.about-info .values {
    width: 75%;
    color: grey;
    font-size: 17px;
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 500;
}

.text2 {
    margin-top: 50px;
    line-height: 20px;
    height: 150px;
}

.text2 p {
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 50px;
}

.text2 p strong {
    color: #ffbd39;
    font-weight: 800;
    font-size: 25px;
    padding: 1px 5px 0 0;
}

.text2 .cv-btn {
    color: black;
    text-decoration: none;
    border: 2px solid;
    background-color: #ffbd39;
    padding: 18px 20px;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
}

/* page 3 code start */

.page3 {
    width: 100%;
    height: auto;
    margin: 80px 0 150px 0;
}

.text3 {
    width: 90%;
    background-color: black;
    padding: 20px;
    margin: 0 30px 50px 53px;
    position: relative;
}
.page3 .text3 .big{
    left: 320px;
    top: 40px;
}

.text3 h2 {
    text-align: center;
}

.text3 .resume {
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.text3 .about-resume {
    color: grey;
    margin-top: 30px;
    font-size: 17px;
    text-align: center;
}

.content3 {
    width: 100%;
    display: flex;
    background-color: black;
    padding: 10px;
}

.content3 .colum1 {
    width: 50%;
    padding: 10px;
}

.content3 .colum2 {
    width: 50%;
    padding: 10px;
}

.colum1 .resume-box1 {
    margin-bottom: 20px;
    padding: 30px;
    background-color: var(--bg-color);
    color: rgb(140, 132, 132);
    border-radius: 80px 0 80px;
}

.colum2 .resume-box1 {
    margin-bottom: 20px;
    padding: 30px;
    background-color: var(--bg-color);
    color: rgb(140, 132, 132);
    border-radius: 0 80px 0 80px;
}

.colum1 .resume-box1 .period {
    color: #ffbd39;
    font-size: 30px;
    font-weight: 800;
}

.colum1 .resume-box1 h2 {
    margin: 10px 0 15px 0;
    color: white;
    font-size: 24px;
}

.colum1 .resume-box1 .college-name {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.colum1 .resume-box1 .about-clg {
    margin: 30px 0 10px 0;
    font-size: 17px;
}

.colum2 .resume-box1 .period {
    color: #ffbd39;
    font-size: 30px;
    font-weight: 800;
}

.colum2 .resume-box1 h2 {
    margin: 10px 0 15px 0;
    color: white;
    font-size: 24px;
}

.colum2 .resume-box1 .college-name {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.colum2 .resume-box1 .about-clg {
    margin: 30px 0 10px 0;
    font-size: 17px;
}

.page3 .cv-button {
    padding: 50px 0 80px 0;
    width: 100%;
    height: 100px;
    background-color: black;
}

.page3 .cv-button .container {
    text-align: center;
}

.page3 .cv-btn {
    color: black;
    text-decoration: none;
    border: 2px solid;
    background-color: #ffbd39;
    padding: 23px 38px;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
}

/* page 4 code start */

.page4 {
    width: 100%;
    height: auto;
    margin: 150px 0 150px 0;
}

.text4 {
    width: 90%;
    background-color: black;
    padding: 20px;
    margin: 0 30px 50px 53px;
    position: relative;
}

.text4 h2 {
    text-align: center;
}
.page4 .text4 .big{
    left: 320px;
    top: 40px;
}

.text4 .service {
    font-size: 50px;
    font-weight: 750;
    color: white;
}

.text4 .about-service {
    color: grey;
    margin-top: 30px;
    font-size: 17px;
    text-align: center;
}

.content4 {
    width: 100%;
    display: flex;
    padding: 10px;
}

/* colum1 code start */
.content4 .colum1 {
    width: 33.33%;
}

.colum1 .box1 {
    padding: 0;
    margin: 15px;
    border-radius: 0px 80px;
}

.colum1 .box1 .box-one {
    margin-bottom: 30px;
    margin-right: 5px;
    padding: 35px;
    background-color: var(--bg-color);
    border-radius: 0px 80px;
    transition: transform 0.9s;
}

.content4 .box1 .box-one:hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: var(--bg-hover-color);
}

.colum1 .box1 .logo-img {
    text-align: center;
    color: #ffbd39;
    padding: 10px 0 10px 0;
}

.colum1 .box1 .logo-img i {
    font-size: 50px;
    padding: 20px 5px 20px 5px;
}

.colum1 .box1 .web-design {
    margin: 30px 0 20px 0;
    text-align: center;
    font-size: 13.5px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    color: white;
    position: relative;
}

.colum1 .box1 .web-design::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 1px;
    bottom: -10px;
    left: 100px;
    background-color: #f18e14;
}


/* colum2 code start */
.content4 .colum2 {
    width: 33.33%;
}

.colum2 .box1 {
    padding: 0;
    margin: 15px;
    border-radius: 0px 80px;
}

.colum2 .box1 .box-one {
    margin-bottom: 30px;
    margin-right: 5px;
    padding: 35px;
    background-color: var(--bg-color);
    border-radius: 0px 80px;
    transition: transform 0.9s;
}

.colum2 .box1 .logo-img {
    text-align: center;
    color: #ffbd39;
    padding: 10px 0 10px 0;
}

.colum2 .box1 .logo-img i {
    font-size: 50px;
    padding: 20px 5px 20px 5px;
}

.colum2 .box1 .web-design {
    margin: 30px 0 20px 0;
    text-align: center;
    font-size: 13.5px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    color: white;
    position: relative;
}

.colum2 .box1 .web-design::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 1px;
    bottom: -10px;
    left: 100px;
    background-color: #f18e14;
}

/* colum3 code start */
.content4 .colum3 {
    width: 33.33%;
}

.colum3 .box1 {
    padding: 0;
    margin: 15px;
    border-radius: 0px 80px;
}

.colum3 .box1 .box-one {
    margin-bottom: 30px;
    margin-right: 5px;
    padding: 35px;
    background-color: var(--bg-color);
    border-radius: 0px 80px;
    transition: transform 0.9s;
}

.colum3 .box1 .logo-img {
    text-align: center;
    color: #ffbd39;
    padding: 10px 0 10px 0;
}

.colum3 .box1 .logo-img i {
    font-size: 50px;
    padding: 20px 5px 20px 5px;
}

.colum3 .box1 .web-design {
    margin: 30px 0 20px 0;
    text-align: center;
    font-size: 13.5px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    color: white;
    position: relative;
}

.colum3 .box1 .web-design::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 1px;
    bottom: -10px;
    left: 100px;
    background-color: #f18e14;
}

/* page5 code start */

.page5 {
    width: 100%;
    height: auto;
    margin: 150px 0 150px 0;
}

.text5 {
    width: 90%;
    background-color: black;
    padding: 20px;
    margin: 0 30px 50px 53px;
    position: relative;
}
.page5 .text5 .big {
    left: 380px;
    top: 58px;
}

.text5 .my-skills {
    text-align: center;
    font-size: 50px;
    font-weight: 790;
    color: white;
}

.text5 .about-skills {
    color: grey;
    margin-top: 30px;
    font-size: 17px;
    text-align: center;
}

.content5 {
    width: 100%;
    padding: 20px;
    margin: 0 20px 20px 0;
    display: flex;
}

.content5 .colum1 {
    width: 50%;
    padding: 10px;
}

.content5 .colum1 .skill1 {
    margin: 0 20px 30px 0;
}

.content5 .colum1 .skill1 h3 {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins', Arial, sans-serif;
    color: white;
    padding: 2px 0 2px 0;
}

.content5 .colum1 .skill1 h3 span {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins', Arial, sans-serif;
    float: right;
}

.content5 .colum1 .skill1 .progress {
    height: 11px;
}

/* content5 colum2 code start */
.content5 .colum2 {
    width: 50%;
    padding: 10px;
}

.content5 .colum2 .skill1 {
    margin: 0 20px 30px 0;
}

.content5 .colum2 .skill1 h3 {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins', Arial, sans-serif;
    color: white;
    padding: 2px 0 2px 0;
}

.content5 .colum2 .skill1 h3 span {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins', Arial, sans-serif;
    float: right;
}

.content5 .colum2 .skill1 .progress {
    height: 11px;
}

/* page6 code start */

.page6 {
    width: 100%;
    height: auto;
    margin: 150px 0 150px 0;
}

.text6 {
    width: 90%;
    background-color: black;
    padding: 20px;
    margin: 0 30px 50px 53px;
    position: relative;
}
.page6 .big{
    left: 335px;
    top: 53px;
}

.text6 .my-project {
    text-align: center;
    font-size: 50px;
    font-weight: 790;
    color: white;
}

.text6 .about-project {
    color: grey;
    margin-top: 30px;
    font-size: 17px;
    text-align: center;
}

.content6 {
    width: 100%;
    /* padding: 5px 20px 5px 20px; */

}
.page6 .content6 .row1{
    width: 100%;
    margin: 0;
    padding: 0;
}
.page6 .content6 .row1 .project_img1 {
    padding: 0;
    background-image: url('project-4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 37%;
    background-position: center;
    margin: 0 21px 30px 15px;
}
.page6 .content6 .row1 .project_img2 {
    padding: 0;
    background-image: url('project-5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 57%;
    background-position: center;
    margin: 0 15px 30px 15px;
}
.page6 .content6 .row2{
    width: 100%;
    margin: 0;
    padding: 0;
}
.page6 .content6 .row2 .project_img1 {
    padding: 0;
    background-image: url('project-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 57%;
    background-position: center;
    margin: 0 15px 30px 15px;
}
.page6 .content6 .row2 .project_img2 {
    padding: 0;
    background-image: url('project-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 37%;
    background-position: center;
    margin: 0 21px 30px 15px;
}
.page6 .content6 .row3{
    width: 100%;
    margin: 0;
    padding: 0;
}
.page6 .content6 .row3 .project_img1 {
    padding: 0;
    background-image: url('project-6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 57%;
    background-position: center;
    margin: 0 15px 30px 15px;
}
.page6 .content6 .row3 .project_img2 {
    padding: 0;
    background-image: url('project-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 37%;
    background-position: center;
    margin: 0 21px 30px 15px;
}


.content6 .row .hover-img {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #ffbd39;
    opacity: .8;
}

.content6 .row .hover-img h3 {
    color: white;
    text-align: center;
    padding-top: 100px;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 28px;
    font-weight: 600;
}

.content6 .row .hover-img h4 {
    color: white;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    text-align: center;
    padding: 20px;
}


.content6 .row1 .project_img1:hover>.hover-img {
    display: block;
}

.content6 .row1 .project_img2:hover>.hover-img {
    display: block;
}

.content6 .row2 .project_img1:hover>.hover-img {
    display: block;
}

.content6 .row2 .project_img2:hover>.hover-img {
    display: block;
}

.content6 .row3 .project_img1:hover>.hover-img {
    display: block;
}

.content6 .row3 .project_img2:hover>.hover-img {
    display: block;
}

/* page7 code start */

.page7 {
    width: 100%;
    margin-bottom: 150px;
    background-image: url('bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.four-boxes {
    position: relative;
    top: 90px;
    width: 100%;
    display: flex;
}

.four-boxes .top-box {
    width: 25%;
    background-color: var(--main-bg-color);
    border-radius: 5px;
    padding: 40px 0 40px 0;
    margin: 15px;
    text-align: center;
    color: rgb(217, 210, 210);
    font-family: 'Poppins', Arial, sans-serif;
}

.four-boxes .top-box h3 {
    color: #ffbd39;
    font-weight: 600;
    font-size: 30px;
}

.four-boxes .top-box span {
    font-weight: 400;
    font-size: 16px;
}

.page7 .content7 {
    padding: 147px 0 130px 0;
    width: 100%;
}

.page7 .content7 .text7 {
    width: 80%;
    margin: auto;
    padding: 5px 250px 20px 250px;
    text-align: center;
}

.page7 .content7 .text7 h3 {
    font-size: 45px;
    font-weight: 600;
    padding: 2px 10px 2px 10px;
    color: white;
    font-family: 'Poppins', Arial, sans-serif;
}

.page7 .content7 .text7 span {
    color: #ffbd39;
}

.page7 .content7 .text7 p {
    color: rgb(119, 115, 115);
    font-size: 16px;
    margin: 15px 0 15px 0;
    font-family: 'Poppins', Arial, sans-serif;
}

.page7 .content7 .text7 button {
    color: black;
    text-decoration: none;
    border: none;
    background-color: #ffbd39;
    font-family: 'Poppins', Arial, sans-serif;
    padding: 18px 45px;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
}

/* page 8 code start */
.page8 {
    width: 100%;
    margin-bottom: 150px;
}

.text8 {
    width: 90%;
    background-color: black;
    padding: 20px 100px 30px 100px;
    margin: 0 30px 50px 53px;
    position: relative;
}
.page8 .text8 .big{
    left: 330px;
    top: 53px;
}

.text8 .contact-me {
    text-align: center;
    font-size: 50px;
    font-weight: 790;
    color: white;
}

.text8 .about-contact {
    color: grey;
    margin-top: 30px;
    font-size: 17px;
    text-align: center;
}

.content8 {
    width: 100%;
    padding: 5px 20px 5px 20px;
    display: flex;
}

.content8 .contact-boxes {
    width: 25%;
    padding: 20px 15px 40px 15px;
    margin: 10px;
    text-align: center;
    background-color: var(--main-bg-color);
    border-radius: 20px;
}

.content8 .contact-boxes i {
    padding: 50px 40px;
    background-color: #313030;
    color: orange;
    border-radius: 100%;
    margin: 20px 0 30px 0;
    transition: transform 0.3s;
}

.content8 .contact-boxes i:hover {
    transform: scale(1.2);
}

.content8 .contact-boxes h4 {
    color: white;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0 0 20px 0;
}

.content8 .contact-boxes span {
    color: white;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Poppins', Arial, sans-serif;
}

.page8 .contact-us {
    width: 100%;
    display: flex;
    margin: 50px 0 10px 0;
}

.page8 .contact-us .my-img {
    width: 50%;
    height: 550px;
    background-image: url('my-pic1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--bg-color);
    transform: scaleX(-1);
}

.page8 .contact-us .send-msg {
    width: 50%;
    padding: 50px;
    background-color: #f8f9fa;
}

.page8 .contact-us .send-msg input,
textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0 10px 0;
    border: 1px solid rgb(173, 169, 169);
    border-radius: 5px;
}

.page8 .contact-us .send-msg button {
    padding: 17px 40px;
    background-color: #ffbd39;
    border-radius: 100px;
    border: none;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Poppins', Arial, sans-serif;
    letter-spacing: 2px;
}

/* page 9 code start */

.page9 {
    width: 100%;
    margin-bottom: 150px;
}

.content9 {
    width: 100%;
    display: flex;
}

.page9 .content9 .footer-box {
    width: 25%;
    padding: 10px;
    margin: 10px;
    color: rgb(154, 149, 149);
    font-size: 17px;
    font-weight: 500;
    font-family: 'Poppins', Arial, sans-serif;
}

.page9 .content9 .footer-box h4 {
    color: white;
    font-weight: 700;
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0 0 40px 0;
}

.page9 .content9 .footer-box ul li {
    margin: 0 0 10px 0;
}

.page9 .content9 #links-box {
    padding-left: 50px;
}

.page9 .content9 .footer-box a {
    text-decoration: none;
    color: grey;
    transition: transform 0.3s;
}

.page9 .content9 .footer-box li:hover {
    transform: scale(1.2);
}

.page9 .content9 .footer-box a:before {
    font-family: "Font Awesome 5 Free";
    content: "\f178";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
}

.page9 .content9 .footer-box .location {
    display: flex;
    margin: 0 0 15px 0;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Poppins', Arial, sans-serif;
}

.page9 .content9 .footer-box .location i {
    padding-right: 10px;
    font-size: 20px;
}

.page9 .content9 .footer-box .social-link {
    margin: 50px 0 5px 0;
}

.page9 .content9 .footer-box .social-link i {
    padding: 30px 20px;
    background-color: #2d2b2b;
    color: orange;
    border-radius: 100%;
    margin: 5px 0 5px 0;
    cursor: pointer;
    transition: transform 0.3s;
}

.content9 .footer-box .social-link i:hover {
    transform: scale(1.1);
}

.page9 .footer-copy {
    margin: 20px;
}

.page9 .footer-copy p {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    color: grey;
    font-family: 'Poppins', Arial, sans-serif;
}

.page9 .footer-copy span {
    color: #ffbd39;
    font-weight: 600;
}


/* media queries start from here for responsive */

@media(max-width:1200px) {
    * {
        box-sizing: border-box;
    }

 .nav-link {
        font-weight: 400;
    }

    .nav-item {
        padding: 18px 12px 18px 12px;
    } 
    .links {
        margin: 0 !important;
    }
    .container{
        padding: 0;
    }
    

    .content2 .big {
        left: 5px;
        top: 50px;
    }

    .page2 .img2 {
        width: 40%;
        background-image: url("my-pic1.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .page2 .content2 {
        width: 55%;
        padding: 20px;
        position: relative;
    }

    .content2 .d-flex .keys {
        font-size: 15px;
        padding-right: 0px;
    }

    .page3 .big {
        top: 40px;
        left: 250px;
    }

    .content3 {
        margin: 0;
        padding: 0;
    }

    .content3 .resume-box1 {
        padding: 18px;
        border-radius: 10px;
    }

    .content3 .resume-box1 .period {
        font-size: 26px;
    }

    .content3 .resume-box1 h2 {
        font-size: 22px;
    }

    .content3 .resume-box1 .about-clg {
        font-size: 16px;
        line-height: 25px;
        margin: 24px 0 16px 0;
    }

    .page4 .big {
        left: 240px;
        top: 40px;
    }

    .page4 .content4 {
        padding: 0;
    }

    .page4 .colum1 {
        padding: 0;
    }

    .page4 .colum2 {
        padding: 0;
    }

    .page4 .colum3 {
        padding: 0;
    }

    .content4 .box1 {
        padding: 0;
        margin: 2px;
        border-radius: 0;
    }

    .content4 .colum1 .box1 {
        margin: 15px;
    }

    .content4 .colum1 .box1 .box-one {
        border-radius: 10px;
    }

    .content4 .colum2 .box1 {
        margin: 15px;
    }

    .content4 .colum2 .box1 .box-one {
        border-radius: 10px;
    }

    .content4 .colum3 .box1 {
        margin: 15px;
    }

    .content4 .colum3 .box1 .box-one {
        border-radius: 10px;
    }

    .content4 .colum1 .box1 .web-design::after {
        left: 80px;
    }

    .content4 .colum2 .box1 .web-design::after {
        left: 80px;
    }

    .content4 .colum3 .box1 .web-design::after {
        left: 80px;
    }

    .page5 .text5 .big {
        left: 300px;
        top: 50px;
    }

    .page5 .content5 {
        margin: 0;
        padding: 0;
    }

    .page5 .colum1 {
        margin: 0;
        padding: 0;
    }

    .page5 .colum2 {
        margin: 0;
        padding: 0;
    }

    .page5 .colum1 .skill1 {
        margin: 5px 10px 30px 10px;
        padding: 5px;
    }

    .page5 .colum2 .skill1 {
        margin: 5px 10px 30px 10px;
        padding: 5px;
    }

    .page6 .text6 .big {
        left: 245px;
        top: 50px;
    }

    .page6 .content6 {
        margin: 0;
        padding: 0;
    }

    .page6 .content6 .row1,
    .row2,
    .row3 {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
    }

    .page6 .content6 .project_img1 {
        width: 35%;
        margin: 0 5px 25px 7px;
    }

    .page6 .content6 .project_img2 {
        width: 62%;
        margin: 0 8px 25px 8px;
    }

    .page6 .content6 .row2 .project_img1 {
        width: 62%;
        margin: 0 5px 25px 7px;
    }

    .page6 .content6 .row2 .project_img2 {
        width: 35%;
        margin: 0 8px 25px 8px;
    }

    .page6 .content6 .row3 .project_img1 {
        width: 62%;
        margin: 0 5px 25px 7px;
    }

    .page6 .content6 .row3 .project_img2 {
        width: 35%;
        margin: 0 8px 25px 8px;
    }

    .page7 {
        height: 550px;
    }

    .page7 .content7 {
        padding: 147px 0 145px 0;
    }

    .page7 .content7 .text7 {
        padding: 5px 150px 5px 150px;
    }

    .page7 .content7 .text7 h3 {
        font-weight: 700;
    }

    .page7 .content7 .text7 h3 span {
        font-weight: 900;
    }

    .page7 .content7 .text7 p {
        font-weight: 600;
    }

    .page8 .big {
        top: 55px;
        left: 265px;
    }

    .page8 .content8 .contact-boxes {
        margin: 3px;
    }

    .page9 .content9 .footer-box {
        width: 25%;
        padding: 0;
        margin: 0;
        font-size: 16px;
    }

}

@media(max-width:991.98px) {
    .navbar {
        padding-right: 0;
    }

    .navbar .links {
        margin: 0;
    }

    .navbar .links .nav-item {
        padding: 10px 5px;
    }

    .page1 .content1 {
        position: absolute;
        width: 720px;
        top: 275px;
        text-align: center;
        font-weight: 900;
    }

    .page1 .img1 {
        position: relative;
        width: 100%;
        background-size: contain;
        opacity: 0.5;
        filter: brightness(1.3);
    }

    .page2 .img2 {
        width: 40%;
    }

    .page2 .content2 {
        width: 60%;
        padding: 10px;
    }

    .page2 .content2 .about-info .d-flex .values {
        font-size: 16px;
    }

    .page3 .big {
        top: 43px;
        left: 180px;
    }

    .page4 .big {
        top: 43px;
        left: 180px;
    }

    .page4 .content4 .web-design {
        font-size: 13px;
    }

    .content4 .colum1 .box1 .web-design::after {
        left: 50px;
    }

    .content4 .colum2 .box1 .web-design::after {
        left: 50px;
    }

    .content4 .colum3 .box1 .web-design::after {
        left: 50px;
    }

    .page5 .text5 .big {
        top: 60px;
        left: 230px;
    }

    .page5 .text5 p {
        font-weight: 500;
        font-size: 16px;
    }

    .page6 .text6 .big {
        top: 58px;
        left: 185px;
    }

    .page6 .text6 p {
        font-size: 16px;
        font-weight: 500;
    }

    .page6 .content6 .project_img1 {
        width: 35%;
        margin: 0 5px 25px 4px;
    }

    .page6 .content6 .project_img2 {
        width: 62%;
        margin: 0 0px 25px 10px;
    }

    .page6 .content6 .row2 .project_img1 {
        width: 62%;
        margin: 0 5px 25px 4px;
    }

    .page6 .content6 .row2 .project_img2 {
        width: 35%;
        margin: 0 0px 25px 10px;
    }

    .page6 .content6 .row3 .project_img1 {
        width: 62%;
        margin: 0 5px 25px 4px;
    }

    .page6 .content6 .row3 .project_img2 {
        width: 35%;
        margin: 0 0px 25px 10px;
    }

    .four-boxes .top-box {
        padding: 20px 5px 20px 5px;
    }

    .page8 .text8 .big {
        top: 59px;
        left: 185px;
    }

    .page8 .text8 p {
        font-size: 16px;
        font-weight: 500;
    }

    .page8 .content8 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .page8 .content8 .contact-boxes {
        width: 45%;
        margin: 0 10px 30px 10px;
    }

    .page8 .content8 .contact-boxes h4 {
        font-size: 16px;
        font-weight: 700;
    }

    .page9 .content9 #links-box {
        padding-left: 25px;
        width: 20%;
    }

    .page9 .content9 #service-links {
        width: 28%;
        padding-left: 10px;
    }

    .page9 .content9 #address-link {
        width: 32%;
        padding-left: 5px;
    }

    .page9 .content9 .footer-box h4 {
        font-size: 22px;
    }

    .page9 .content9 .footer-box .location span {
        font-size: 16px;
    }

    .page9 .content9 .footer-box .social-link i {
        padding: 25px 15px;
    }

    .page9 .content9 .location i {
        font-size: 18px !important;
    }

}

@media(max-width:768px) {
    .page1 .content1 {
        position: absolute;
        width: 540px;
        top: 275px;
        text-align: center;
        font-weight: 900;
    }

    .page2 .img2 {
        display: none;
    }

    .page2 .content2 {
        width: 100%;
        padding: 10px;
    }

    .page2 .content2 h2 {
        font-size: 38px;
    }

    .page2 .content2 p {
        margin-top: 50px;
        font-size: 16px;
    }

    .page2 .content2 .text2 {
        margin: 10px 0 10px 0;
    }

    .page2 .content2 .text2 p {
        margin: 10px 0 35px 0;
    }

    .page3 .text3 {
        margin: 0;
        width: 100%;
    }

    .page3 .text3 h2 {
        font-size: 38px;
    }

    .page3 .big {
        top: 55px;
        left: 190px;
    }

    .page3 .text3 p {
        font-size: 16px;
    }

    .page3 .content3 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .page3 .content3 .colum1 {
        width: 100%;
    }

    .page3 .content3 .colum2 {
        width: 100%;
    }

    .page4 .text4 {
        margin: 0;
        width: 100%;
    }

    .page4 .text4 h2 {
        font-size: 38px;
    }

    .page4 .big {
        top: 55px;
        left: 195px;
    }

    .page4 .text4 p {
        font-size: 16px;
    }

    .page4 .content4 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .page4 .content4 .colum1 {
        width: 100%;
        display: flex;
    }

    .page4 .content4 .colum1 .box1 {
        width: 100%;
        display: flex;
    }

    .page4 .content4 .colum1 .box-one {
        width: 100%;
        margin: 0;
    }

    .page4 .content4 .colum2 {
        width: 100%;
        display: flex;
    }

    .page4 .content4 .colum2 .box1 {
        width: 100%;
        display: flex;
    }

    .page4 .content4 .colum2 .box-one {
        width: 100%;
        margin: 0;
    }

    .page4 .content4 .colum3 {
        width: 100%;
        display: flex;
    }

    .page4 .content4 .colum3 .box1 {
        width: 100%;
        display: flex;
    }

    .page4 .content4 .colum3 .box-one {
        width: 100%;
        margin: 0;
    }

    .content4 .colum1 .box1 .web-design::after {
        left: 65px;
    }

    .content4 .colum2 .box1 .web-design::after {
        left: 65px;
    }

    .content4 .colum3 .box1 .web-design::after {
        left: 65px;
    }

    .page5 .text5 {
        margin: 0;
        width: 100%;
    }

    .page5 .text5 h2 {
        font-size: 38px;
    }

    .page5 .big {
        top: 55px;
        left: 185px;
    }

    .page5 .content5 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .page5 .content5 .colum1 {
        width: 100%;
    }

    .page5 .content5 .colum2 {
        width: 100%;
    }

    .page6 .text6 {
        margin: 0;
        width: 100%;
    }

    .page6 .text6 h2 {
        font-size: 38px;
    }

    .page6 .big {
        top: 55px;
        left: 185px;
    }

    .page6 .content6 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .page6 .content6 .row1 {
        width: 100%;
        margin: 0;
    }

    .page6 .content6 .row2 {
        width: 100%;
        margin: 0;
    }

    .page6 .content6 .row3 {
        width: 100%;
        margin: 0;
    }

    .page6 .content6 .row .project_img1 {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .page6 .content6 .row .project_img2 {
        width: 100%;
        margin: 0 0 20px 0;
    }

    #container2 {
        width: 100%;
        margin-bottom: 50px;
    }

    #container2 .four-boxes {
        top: 0px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #container2 .four-boxes .top-box {
        width: 40%;
        margin: 20px 5px 20px 5px;
        padding: 35px 0;
    }

    .page7 {
        height: 400px;
    }

    .page7 .content7 {
        margin: 0;
        padding: 0;
        height: 400px;
    }

    .page7 .content7 .text7 {
        padding: 100px 0 50px 0;
    }

    .page7 .content7 .text7 p {
        font-size: 15px;
    }

    .page7 .content7 .text7 button {
        font-size: 12px;
        font-weight: 600;
    }

    .page8 .text8 {
        margin: 0;
        width: 100%;
        padding: 10px;
    }

    .page8 .text8 h2 {
        font-size: 38px;
    }

    .page8 .text8 .big {
        top: 55px;
        left: 198px;
    }

    .page8 .text8 p {
        margin-top: 50px;
    }

    .page8 .contact-us {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    .page8 .contact-us .my-img {
        width: 100%;
        background-size: contain;
    }

    .page8 .contact-us .send-msg {
        width: 100%;
        padding: 30px;
    }

    .page9 .content9 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .page9 .content9 .footer-box {
        width: 42%;
        margin: 0 5px 40px 5px;
    }

    .page9 .content9 #links-box {
        width: 54%;
        padding-left: 100px;
    }

    .page9 .content9 #service-links {
        width: 50%;
    }

    .page9 .content9 #address-link {
        width: 46%;
    }

    .page9 .footer-copy p {
        font-size: 16px;
    }
}


@media(max-width:575.98px) {
    #navbar {
        padding: 10px;
    }

    .page1 .content1 {
        position: absolute;
        margin-left: 12px;
        top: 275px;
        text-align: center;
        font-weight: 900;
    }

    .page1 .img1 {
        background-size: cover;
    }

    .page2 .big {
        top: 50px;
        left: 45px;
    }

    .page2 .content2 {
        width: 100%;
        padding: 20px;
    }

    .page3 .big {
        top: 55px;
        left: 215px;
    }

    .page3 .content3 .colum1 {
        padding: 15px;
    }

    .page3 .content3 .colum2 {
        padding: 15px;
    }

    .page3 .cv-button {
        padding: 40px 0 10px 0;
    }

    .page3 .cv-button .cv-btn {
        font-size: 12px;
    }

    .page4 .big {
        top: 55px;
        left: 210px;
    }

    .page6 .text6 .big {
        top: 55px;
        left: 215px;
    }

    .page6 .content6 .row1 .project_img1 {
        margin-left: 15px;
        margin-right: 15px;
    }

    .page6 .content6 .row1 .project_img2 {
        margin-left: 15px;
        margin-right: 15px;
    }

    .page6 .content6 .row2 .project_img1 {
        margin-left: 15px;
        margin-right: 15px;
    }

    .page6 .content6 .row2 .project_img2 {
        margin-left: 15px;
        margin-right: 15px;
    }

    .page6 .content6 .row3 .project_img1 {
        margin-left: 15px;
        margin-right: 15px;
    }

    .page6 .content6 .row3 .project_img2 {
        margin-left: 15px;
        margin-right: 15px;
    }

    .page7 .content7 .text7 {
        width: 100%;
        padding: 90px 0 90px 0;
    }

    .page8 .contact-us {
        padding: 0 15px 25px 15px;
    }

    .page9 .content9 .footer-box {
        width: 42%;
        margin: 0 15px 40px 15px;
    }

    .page9 .content9 #links-box {
        width: 47%;
        padding-left: 100px;
    }

    .page9 .content9 #service-links {
        width: 42%;
    }

    .page9 .content9 #address-link {
        width: 47%;
    }

}

@media(max-width:544.98px) {
    .page1 .content1 {
        position: absolute;
        width: 100% !important;
        margin-left: 0px !important;
        top: 250px;
        text-align: center;
        font-weight: 900;
        padding-left: 60px;
        padding-right: 60px;
    }

    .page1 .content1 .hello {
        position: relative;
        top: 19px;
        color: #fdcf02;
        font-weight: 700;
    }

    .page1 .content1 .ani1 {
        font-size: 35px;
        position: relative;
        top: 15px;
    }

    .page1 .content1 .text1 {
        font-size: 20px;
    }

    .page1 .content1 .text1 .multi-text {
        font-size: 22px;
    }

    .page1 .content1 .bio {
        font-size: 16px;
    }

    .page1 .content1 .buttons .page1-hire-btn {
        font-size: 0.7rem;
        padding: 14px 40px;
    }

    .page1 .content1 .buttons .page1-work-btn {
        font-size: 0.7rem;
        padding: 14px 40px;
    }

    .page2 .big {
        top: 50px;
        left: 20px;
    }

    .page3 .big {
        top: 50px;
        left: 180px;
    }

    .page4 .big {
        top: 55px;
        left: 170px;
    }

    .page5 .text5 .big {
        top: 58px;
        left: 180px;
    }

    .page6 .text6 .big {
        top: 58px;
        left: 170px;
    }

    .page8 .text8 .big {
        top: 58px;
        left: 170px;
    }

    .page9 .content9 .footer-box {
        width: 44%;
        margin: 0 15px 40px 15px;
    }

    .page9 .content9 #links-box {
        width: 44%;
        padding-left: 80px;
    }

    .page9 .content9 #service-links {
        width: 42%;
    }

    .page9 .content9 #address-link {
        width: 46%;
    }

}

@media(max-width:499.98px) {
    .page9 .content9 .footer-box {
        width: 43%;
        margin: 0 15px 40px 15px;
    }

    .page9 .content9 #links-box {
        width: 44%;
        padding-left: 80px;
    }

    .page9 .content9 #service-links {
        width: 43%;
    }

    .page9 .content9 #address-link {
        width: 44%;
    }

}

@media(max-width:460.98px) {
    .page2 .big {
        top: 50px;
        left: 15px;
    }

    .page3 .big {
        top: 50px;
        left: 140px;
    }

    .page4 .big {
        top: 55px;
        left: 140px;
    }

    .page5 .text5 .big {
        top: 58px;
        left: 160px;
    }

    .page6 .text6 .big {
        top: 58px;
        left: 140px;
    }

    .page8 .text8 .big {
        top: 58px;
        left: 140px;
    }

    .page1 .content1 {
        padding-left: 40px;
        padding-right: 40px;
    }

    .page8 .content8 {
        padding: 5px;
    }

    .page9 .content9 .footer-box {
        width: 43%;
        margin: 0 5px 40px 13px;
    }

    .page9 .content9 #links-box {
        width: 46%;
        padding-left: 80px;
    }

    .page9 .content9 #service-links {
        width: 43%;
    }

    .page9 .content9 #address-link {
        width: 46%;
    }


}

@media(max-width:426px) {

    .page2 .about-info .d-flex .keys {
        width: 35%;
        margin: 0;
        padding: 0;
        font-size: 14px !important;
    }

    .page2 .about-info .d-flex .values {
        padding-left: 20px;
    }

    .page2 .cv-btn {
        font-size: 11px;
    }

    .page3 .text3 .big {
        left: 132px;
    }

    .page3 .content3 .colum2 {
        padding-top: 0;
    }

    .page4 .text4 .big {
        left: 135px;
    }

    .page4 .content4 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .page4 .content4 .colum1 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .page4 .content4 .colum1 .box1 {
        width: 100%;
        margin: 0;
    }

    .page4 .content4 .colum1 .box-one {
        width: 100%;
        margin: 0 15px 20px 15px;
    }

    .page4 .content4 .colum2 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .page4 .content4 .colum2 .box1 {
        width: 100%;
        margin: 0;
    }

    .page4 .content4 .colum2 .box-one {
        width: 100%;
        margin: 0 15px 20px 15px;
    }

    .page4 .content4 .colum3 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .page4 .content4 .colum3 .box1 {
        width: 100%;
        margin: 0;
    }

    .page4 .content4 .colum3 .box-one {
        width: 100%;
        margin: 0 15px 20px 15px;
    }

    .content4 .colum1 .box1 .web-design::after {
        left: 140px;
    }

    .content4 .colum2 .box1 .web-design::after {
        left: 140px;
    }

    .content4 .colum3 .box1 .web-design::after {
        left: 140px;
    }

    .page5 .text5 .big {
        left: 160px;
    }

    .page5 .text5 p {
        margin-top: 50px;
    }

    .page6 .text6 .big {
        left: 135px;
    }

    .page6 .text6 p {
        margin-top: 50px;
    }

    #container2 .four-boxes .top-box {
        width: 100%;
        margin: 20px 15px 20px 15px;
        padding: 35px 0;
    }

    .page7 .content7 .text7 {
        padding: 85px 20px 85px 20px;

    }

    .page7 .content7 .text7 p {
        font-size: 14px;
        font-weight: 500;
    }

    .page7 .content7 .text7 button {
        padding: 14px 50px;
        font-weight: 500;
    }

    .page8 .text8 .big {
        left: 127px;
    }

    .page8 .content8 {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .page8 .content8 .contact-boxes {
        width: 100%;
        margin: 0 15px 25px 15px;
    }

    .page8 .contact-us {
        padding: 0 15px 25px 15px;
    }

    .page9 .content9 .footer-box {
        width: 100% !important;
    }

    .page9 .content9 .footer-box p {
        font-weight: 400;
    }

    .page9 .content9 #links-box {
        padding-left: 0;
    }

    .page9 .content9 .footer-box .social-link i {
        margin-right: 10px;
    }

}

@media(max-width:375.98px) {
    .page1 .content1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .page1 .content1 .hello {
        font-size: 16px;
    }

    .page1 .content1 .ani1 {
        font-size: 33px;
    }

    .page1 .content1 .text1 {
        font-size: 17px;
        margin-top: 25px;
        line-height: 30px;
    }

    .page1 .content1 .text1 .multi-text {
        font-size: 20px;
    }

    .page1 .content1 .bio {
        font-size: 13px;
    }

    .page1 .content1 .buttons .page1-hire-btn {
        padding: 10px 30px;
    }

    .page1 .content1 .buttons .page1-work-btn {
        padding: 10px 30px;
    }

    .page2 .big {
        top: 53px;
        left: 15px;
    }

    .page3 .text3 .big {
        top: 50px;
        left: 100px;
    }

    .page4 .text4 .big {
        top: 56px;
        left: 100px;
    }

    .page5 .text5 .big {
        top: 59px;
        left: 120px;
    }

    .page6 .text6 .big {
        top: 59px;
        left: 95px;
    }

    .page8 .text8 .big {
        top: 58px;
        left: 95px;
    }

    .content4 .colum1 .box1 .web-design::after {
        left: 115px;
    }

    .content4 .colum2 .box1 .web-design::after {
        left: 115px;
    }

    .content4 .colum3 .box1 .web-design::after {
        left: 115px;
    }

    .page8 .contact-us .my-img {
        background-size: cover;
    }

    .page8 .contact-us .send-msg {
        padding: 15px;
    }

}

@media(max-width:320.98px) {
    .content4 .colum1 .box1 .web-design::after {
        left: 85px;
    }

    .content4 .colum2 .box1 .web-design::after {
        left: 85px;
    }

    .content4 .colum3 .box1 .web-design::after {
        left: 85px;
    }
}
